# for packaging and installation
#fortran-compiler   # Fortran compiler across platforms through conda-forge channel
pip
setuptools
setuptools_scm
wheel
# extra dependency required for testing
matplotlib
